<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body>
<div id="app">
    <p>Những thứ họ mua: {{fullName}}</p>
    <ol>
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
        >
        </todo-item>
    </ol>
    <p>
        Hãy hỏi một câu hỏi yes/no:
        <input v-model="firstName">
    </p>
    <p>{{ firstName }}</p>
    <div v-bind:class="classObject"></div>

    <ul>
        <li v-for="item in items">
            {{ item.name }}
        </li>
    </ul>
</div>

<script >
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })
    var app = new Vue({
        el: '#app',
        data: {
            groceryList: [
                { id: 0, text: 'Cà pháo' },
                { id: 1, text: 'Mắm tôm' },
                { id: 2, text: 'Miễn ăn được là được' }
            ],
            firstName: 'Evan',
            lastName: 'You',
            isActive: true,
            error: null,
            items: [
                { name: 'Cà phê' },
                { name: 'Trà đặc' },
                { name: 'Bò húc' }
            ]
        },
        computed: {
            fullName: {
                // getter
                get: function () {
                    return this.firstName + ' ' + this.lastName
                },
                // setter
                set: function (newValue) {
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            },
            classObject: function () {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        }
    })
    app.fullName = 'John Doe'


</script>
</body>
</html>
