<template>
  <div id="game">
    <div class="wrapper clearfix">
      <player v-bind:isWiner="isWiner" v-bind:scorePlayer="scorePlayer" v-bind:currentScore="currentScore" v-bind:activePlayer="activePlayer"></player>
      <control v-bind:isPlaying="isPlaying" v-on:eventInput="eventInput" v-on:eventNewGame="eventNewGame" v-on:eventRoll="eventRoll" v-on:eventHold="eventHold" v-bind:finalScore="finalScore"></control>
      <dice v-bind:dices="dices"></dice>
      <popup v-bind:isOpenPopup="isOpenPopup" v-on:eventConfirm="eventConfirm"/>
    </div>
  </div>
</template>

<script>
import player from './component/players';
import control from './component/btnControl';
import dice from './component/dice';
import popup from './component/popup';
export default {
  name: 'game',
  data () {
    return {
      isPlaying: false,
      isOpenPopup: false,
      activePlayer: 0,
      scorePlayer:[0,0],
      currentScore:0,
      dices: [6,5],
        finalScore: 10,
    }
  },
    computed:{
        isWiner(){
            let {scorePlayer,finalScore}=this;
            if (scorePlayer[0] >=finalScore || scorePlayer[1] >= finalScore ){
                this.isPlaying= false;
                return true;
            }
            return false;
        }
    },
  methods:{
      eventInput(e){
          var number = parseInt(e.target.value);
          if (isNaN(number)){
              this.finalScore='';
          }else {
              this.finalScore=number;
          }
      },
    eventNewGame(){
      this.isOpenPopup = true
    },
    eventConfirm(){
      this.isOpenPopup = false;
      this.isPlaying = true;
      this.currentScore = 0;
      this.scorePlayer = [0,0];
      this.activePlayer = 0;
      this.dices = [0,0]
    },
      nextPlayer(){
          this.activePlayer = this.activePlayer ===0 ? 1 : 0;
          this.currentScore = 0;
      },
    eventRoll(){
      console.log('roll app');
      if (this.isPlaying){
          var dice1 = Math.floor(Math.random()*6 + 1);
          var dice2 = Math.floor(Math.random()*6 + 1);
          // console.log(dice1,dice2);
          this.dices = [dice1,dice2];
          if (dice1 === 1 || dice2 === 1){
              setTimeout(function () {
                  alert('Người chơi  đã quay trúng sô 1 chuyển lượt chơi')
              },500);
              this.nextPlayer();
          }else {
              this.currentScore = this.currentScore + dice1 + dice2;
          }

      }else {
          alert('vui lòng nhấn new game')
      }
    },
    eventHold(){
        if (this.isPlaying){
            let {scorePlayer,activePlayer,currentScore} = this;
            let scoreOld = scorePlayer[activePlayer];
            let cloneScorePlayer =[...scorePlayer];
            cloneScorePlayer[activePlayer]=scoreOld+ currentScore;
            this.scorePlayer =cloneScorePlayer;
            if (!this.isWiner){
              console.log('test');
              this.nextPlayer();
            }
        }else {
            alert('vui lòng nhấn new game')
        }
    }
  },

  components:{
    player,
    control,
    dice,
    popup
  }
}
</script>

<style>
  /**********************************************
  *** GENERAL
  **********************************************/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url('/public/assets/back.jpg');
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
  }

  .wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

</style>
