<template>
    <div class="popup-w" v-bind:class="{open: isOpenPopup==true}">
        <div class="popup-rule">
            <h3>Luật chơi</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci consectetur error labore laboriosam minima odio, quia! A accusantium at, deleniti esse et, excepturi, in natus nemo quasi vero voluptate. </p>
            <button type="submit" v-on:click="closePopup">Đã hiểu</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "popup",
        props:{
            isOpenPopup:{
                type:Boolean,
                default: false,
            }
        },
        data(){
            return{

            }
        },
        methods:{
            closePopup(){
                this.$emit('eventConfirm')
            }
        },
    }
</script>

<style scoped>
.popup-rule{
    border: 1px solid #cccccc;
    padding: 15px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transform: translate(-50%,-50%) scale(1.2);
    transition: all 0.1s linear;
    background: #fff;
    box-shadow: 0 0 25px 2px #00000078;
}

.popup-w{
    position: fixed;
    background: rgba(0, 0, 0, 0.51);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}
.popup-w.open{
    visibility: visible;
    opacity: 1;
    transition: all 0.2s linear;
}
.open .popup-rule{
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.1s linear;
}
.popup-w h3{
    font-size: 20px;
    font-weight: bold;
}
.popup-w p{
    margin: 10px 0;
}
    .popup-w button{
        border: 1px solid #ccc;
        color: #000;
        padding: 5px 15px;
    }
</style>