<template>
    <div class="api-calling container mt-3">
        <FormError  :errors="validationErrors" v-if="validationErrors"></FormError>
        <div class="create-form">
            <div class="product-name-input mb-2">
                <input type="text" v-model="product.name" name="name">
            </div>
            <div class="product-name-input mb-2">
                <input type="text" v-model.number="product.price" name="price">
            </div>
            <div class="button-create mb-2">
                <button @click="createProduct">Create</button>
            </div>
        </div>
        <div class="search mb-2">
            <input type="text"  v-model.lazy="keywords" placeholder="Search">
        </div>
        <ul v-if="results.length > 0">
            <li v-for="result in results" :key="result.id" v-text="result.name"></li>
        </ul>

        <div class="list-products mt-3">
            <h2>LIST PRODUCT</h2>
            <div class="product-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Date created</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="prod in list_products" :key="prod.id">
                        <td>{{ prod.id }}</td>
                        <td>{{ prod.name }}</td>
                        <td>{{ prod.price }}</td>
                        <td>{{ prod.created_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError,
        },
        data() {
            return {
                product: {
                    name: '',
                    price: ''
                },
                keywords: '',
                errors: [],
                validationErrors: '',
                list_products: []
            }
        },
        created() {
            this.getListProducts();

        },
        watch: {
            keywords(after, before) {
                this.getListProducts();
            }
        },
        methods: {
            createProduct() {
                this.errors = []
                axios.post('/products', {
                    name: this.product.name,
                    price: this.product.price
                })
                    .then(response => {
                        this.list_products.push(response.data.product);

                    })
                    .catch(error => {
                        this.validationErrors = error.response.data.errors
                    })
            },
            getListProducts() {
                axios.get('/products', { params: { keywords: this.keywords } })
                    .then(response => {
                        this.list_products = response.data
                    })
                    .catch(error => {
                         this.errors = error.response.data.errors
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .error {
        span {
            color: red;
        }
    }
</style>