<template>
    <div>
        <div class="txt1">
            <div class="txt2">
                abc
            </div>
        </div>
    </div>


</template>

<script>
    export default {

    }
</script>

<style lang="scss" scoped >
    .welcome_text {
        color: blue;
    }
    .welcome_text2 {
        color: green;
    }
    .txt1{
        .txt2{
            color: red;
        }
    }

</style>