<template>
    <div  class="my-component">
        <div>{{ message.text }}</div>
        <div><button @click="changeMessage">Click me</button></div>
    </div>

</template>

<script>
    export default {
        name: "MyComponent",
        data(){
            return {
                message: {
                    type: 'greeting',
                    text: 'How are you?'
                }
            }
        },
        methods: {
            changeMessage() {
                this.message.text = 'this is new message'
            }
        },
        computed: {
            reverseMessage() {
                return this.message.split('').reverse().join('')
            }
        },
        watch:{
            message: {
                handler: function () {
                    console.log('something changed')
                },
                deep: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .my-component {
        color: red;
    }
</style>