<template>
    <div>
        <Child></Child>
    </div>
</template>

<script>
    import Child from './Child.vue'
    export default {
        components: {
            Child
        }
    }
</script>

<style scoped module>
    .welcome_text {
        color: red;
    }
    .welcome_text2{
        color: yellow;
    }
</style>