<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-money@0.8.1/dist/v-money.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div>
            <input type="radio" id="price" v-model="show" value="form1"> <label for="price"> Tính tiền</label>
        </div>

        <div class="form-2" v-show="show === 'form1'">
            <div class="row justify-content-center">
                <div class="col-8">
                    <form class="mt-3">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Số lượng</label>
                            <div class="col-sm-10">
                                <input class="form-control" v-model="discount" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Đơn giá</label>
                            <div class="col-sm-10">
                                <input class="form-control" v-model="price" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Thành tiền {{gettotal}}</label>
                            <div class="col-sm-10">
                                <input type="number" disabled  class="form-control" v-model="total" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <input type="radio" id="add" v-model="show" value="form2"> <label for="add"> Add item</label>
        </div>

        <div class="form-1" v-show="show === 'form2'">
                <div class="row">
                    <div class="col-2">
                        <button type="button" v-on:click="addNewApartment" class="btn btn-block btn-success">
                            Add +
                        </button>
                    </div>
                    <div class="col-10">
                        Would you like add more apartments?
                    </div>
                </div>

                    <div class="row"  v-for="(apartment, index) in apartments">
                        <div class="col-2">
                            <label>&nbsp;</label>
                            <button type="button" v-on:click="removeApartment(index)" class="btn btn-block btn-danger">
                                x
                            </button>
                        </div>
                        <div class="form-group col-5">
                            <label>Tên chương trình</label>
                            <input  v-model="apartment.price" class="form-control"   placeholder="Price">
                        </div>
                        <div class="form-group col-5">
                            <label>Mã thẻ</label>
                            <input v-model="apartment.rooms" class="form-control" placeholder="Rooms">
                        </div>
                    </div>

            </div>

    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            price: '',
            discount: '',
            total: '',
            apartments: [
                { "price": "23000", "rooms": "12" }
            ],
            newItem:{
                price: '',
                rooms: ''
            },
            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                prefix: 'R$ ',
                suffix: ' #',
            },
            show: 'form1'


        },
        computed:{
            gettotal: function(){
                this.total = parseFloat(this.price.replace(/^\W|,/g,"")) * parseFloat(this.discount.replace(/^\W|,/g,""));
                console.log(this.price.replace(/R$/g," "));


            }
        },
        methods: {
            addNewApartment: function () {
                this.apartments.push( this.newItem );
            },
            removeApartment: function (index) {
                Vue.delete(this.apartments, index);
            },

        }




    })
</script>

</body>
</html>