<template>
    <footer>
        <h1>{{title}}</h1>
    </footer>
</template>

<script>
    export default {
        name: "ComponentFooter",
        props: {
            title: String,
        },
        data(){
            return{
                textFooter: 'Footer'
            }
        }
    }
</script>

<style scoped>

</style>