<template>
    <header>
        <h1>{{title}} <br>
            <button v-on:click="changeTitle">Thay đổi</button>
        </h1>
        <div align="center">
            <button v-on:click="inputFile" class="btn">avatar</button>
            <input ref="inputAvt" style="display: none" type="file">
        </div>

    </header>
</template>

<script>
    export default {
        name: "ComponentHeader",
        props:{
            title: String,
        },
        data(){
            return{

            }
        },
        methods:{
            changeTitle(){
                var datta = {
                    title: 'tsst data'
                }
                this.$emit('btnEventChange',datta);
            },
            inputFile (){
                this.$refs.inputAvt.click();
                console.log(this.$refs.inputAvt)
            }
        }
    }
</script>

<style scoped>
h1 {
    color: red;
}
    .btn{
        border: 0;
        color: #fff;
        background: #000;
        padding: 15px;
        border: 1px solid #000;
    }
    .btn:hover{
        background: #fff;
        color: #000;
    }
</style>