<template>
    <div class="slot">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "demoslot",
        data(){
            return{

            }
        },

    }
</script>

<style scoped>

</style>