<template>
    <div class="list-user">
        <user v-for="user in listUser" v-bind:key="user.id" v-bind:user="user" v-bind:class="user" v-on:btnDelUser="eventDeleUser"/>
    </div>
</template>

<script>
import user from './user.vue';
    export default {
        name: "listUser",
        props: {
            listUser:{
                type: Array,
                default: []
            }
        },
        data(){
            return{

            }
        },
        components:{
            user
        },
        methods:{
            eventDeleUser(data){
                console.log('event at list',data);
                this.$emit('delUserApp',data)
            }
        }
    }
</script>

<style scoped>
.list-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .user{
        border: 1px solid #000;
        padding: 15px;
        width: 30%;

        margin-right: 30px;
        margin-bottom: 30px;
    }
</style>