<template>
    <div class="demo-tab">
        <ul class="tab-ul">
            <li v-for="(item, index) in tabHeader" v-bind:key="index" v-bind:class="{active:tabactive == index}" v-on:click="setactive(index)">{{item.txt}}</li>
        </ul>
        <div class="content-tab">
            <div class="tab-item" v-if="tabactive === 0">
                tab1-Lập trình VueJs - 30 Tìm hiểu Slot và bài tập ứng dụng
            </div>
            <div class="tab-item" v-if="tabactive === 1">
                tab2-Lập trình VueJs - 30 Tìm hiểu Slot và bài tập ứng dụng
            </div>
            <div class="tab-item" v-if="tabactive === 2">
                tab3-Lập trình VueJs - 30 Tìm hiểu Slot và bài tập ứng dụng
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "tab",
        data(){
            return{
                tabHeader:[
                    {txt:'tab1'},
                    {txt:'tab2'},
                    {txt:'tab3'},
                ],
                tabactive:2
            }
        },
        methods:{
            setactive(index){
                this.tabactive = index;
            }
        }
    }
</script>

<style scoped>
    .tab-ul{
        text-align: center;
    }
.tab-ul li{
    display: inline-block;
    padding: 0 15px;
    list-style: none;
}
    .tab-ul li.active{
        color: red;
    }
    .content-tab{
        border: 1px solid #ccc;
        padding: 15px;
        max-width: 400px;
        margin: auto;
    }
</style>