<template>
    <div class="user">
        {{user.email}}
        <br>
        <button v-on:click="deleteUser">delete</button>
    </div>
</template>

<script>
    export default {
        name: "user",
        props:{
            user: {
                type: Object,
                default: null,
            },
        },
        data(){
            return{

            }
        },
        methods:{
            deleteUser(e){
                var data={
                    id: this.user.id,
                }
                console.log(e);
                this.$emit('btnDelUser',data)
            },


        }
    }
</script>

<style scoped>

</style>