

@media (min-width:1200px) /* lg*/ {
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }
    .container{
        width: 1200px;
    }
    .banner_pr{
      display: block;
    }
    .col-lg-200{
      width: 20%;
    }
}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .list_link_hd{
        float: left !important;
    }
    .header_bot{
      margin-top: 5px;
    }
    .search_box{
      max-width: 390px;
    }
    .sidebar{
      width: 21%;
    }
    .menu_main{
      width: 79%;
    }
    .slider_main{
      padding-left: 207px;
      width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) /* sm*/{
    .sc_header_menu.sticky-header{
        position: relative !important;
    }
    .header_bot{
      margin-top: 5px;
    }
    .search_box{
      max-width: 340px;
    }
    .thongbao{
      float: none;
    }
    .box_ft {
      margin-bottom: 20px;
    }
}

@media (max-width:767px) /* xs*/{
    .sc_header_menu.sticky-header{
        position: relative !important;
    }
    .thongbao{
      float: none;
    }
    .search_box{
      margin-bottom: 10px;
    }
    .header_bot{
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
    }
    .header_account{
      margin-left: 0;
    }
    .header_left{
      display: none;
    }
    .tab-product li{
      margin-right: 0;
    }
    .tab-product li a{
      font-size: 12px;
      padding: 0 5px;
    }
    .box_ft {
      margin-bottom: 20px;
    }
    .reponsive_table{
      overflow: auto;
    }
    .table-post{
      width: 1200px;
      
    }
}

@media (max-width:480px) {
    .col-480-12{
        width: 100% !important;
    }
    .col-480-6{
        width: 50% !important;
    }
    .hidden-480{
        display: none !important;
    }
    .visible-480{
        display: block !important;
    }
    .header_account_tit{
      font-size: 12px;
    }
    .header_account .header_account_txt{
      font-size: 12px;
    }
    .header_account{
      padding-left: 35px;
      padding-right: 5px;
    }
    .but_search_top{
      font-size: 11px;
      padding: 0;
      width: 70px;
    }
    .prod_hot .prod_hot-name{
      font-size: 12px;
      margin: 5px 0;
    }
    .prod_hot .price_prodhot{
      font-size: 11px;
    }
    .prod_hot .price_prodhot b{
      font-size: 11px;
    }
    .prod_hot .price_prodhot del{
      font-size: 11px;
    }
    .prod_hot .price_prodhot span.sale{
      font-size: 11px;
    }
    .title_home{
      font-size: 15px;
    }
    .product .product__name{
      font-size: 12px;
      height: 26px;
    }
    .product .product__price b, .product .product__price span, .product .product__price del, .product .product__price .sale{
      font-size: 11px;
    }
    .product .product__img img{
      height: 140px;
    }
    .hotline_ft{
      text-align: left;
    }
    .list_link_hd>a{
      margin-left: 0;
      margin-right: 5px;
      margin-bottom: 5px;
    }

}


.visible-480{
    display: none;
}
