
@font-face {
  font-family: 'Roboto_Medium';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf')
  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')
  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')
   format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header_top{
  font-family: Roboto_Medium;
  font-size: 16px;
  color: #d20000;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  padding: 1.5px 0;
  .header_left{
    float: left;
    a.site_name{
      margin-right: 15px;
      color: #d20000;
    }
    .fa{
      color: #1c91da;
    }
    select{
      border: 0;
      outline: 0;
      background: transparent;
    }
  }
  .header_right{
    float: right;
    ul{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      margin: 3px 0;
      li{
        margin-left: 20px;
        font-family: Roboto_Light;
        font-size: 12px;
        a{
          display: block;
          color: #424242;
          &:hover{
            color: #d20000;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.logo_pc{
  img{
    max-width: 100%;
  }
}
.slider_partner{
  max-width: 930px;
  float: right;
  .item{
    img{
      height: 46px;
      object-fit: contain;
      object-position: center;
    }
  }
}
.header_mid{
  padding: 9px 0;
  box-shadow: 0px 2px 5px 1px #dddcdc;
  margin-bottom: 17px;
}

.header_bot{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

.header_account{
    color: #333333;
    height: 40px;
    padding-left: 42px;
    padding-right: 15px;
    line-height: 20px;
    background: url("../img/user.png") no-repeat left 0 center;
    margin-left: 20px;
}
.header_account_tit{
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}
.header_account .header_account_txt{
    color: #999999;
}
.info_cart {
    line-height: 22px;
    width: 90px;
    padding: 0 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #cccccc;
}
.info_cart .lbl {
    display: block;
}
.total-price {
    color: #999999;
    display: block;
}
.header__main__toggle_cart {
    width: 50px;
    height: 46px;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(../img/toggle-cart.icon.png);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    margin-left: 15px;
    .counter{
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal;
      position: absolute;
      right: 3px;
      top: 3px;
      width: 25px;
      height: 16px;
      line-height: 16px;
      font-size: 11px;
      padding: 0 3px;
      color: #fff;
    }
}
.menu_mb .header__main__toggle_cart{
  position: fixed;
  top: 5px;
  right: 5px;
  margin-right: 0;
}

.sidebar{
  width: 18%;
  float: left;
  position: relative;
  background: #fff;
  .show-aside{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    .menu-aside{
      position: relative;
      .has-dropdown{
        position: unset;
        &:after{
          display: none;
        }
        > a:before{
          content: "\f105";
          position: absolute;
          font: normal normal normal 20px/1 FontAwesome;
          right: 10px;
          top: 10px;
          color: #000;
          display: none;
          color: #0098da;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
      }
      li:hover{
        background: #dbdbdb;
        > a{
          &:before{
            display: block;
          }
        }
      }
    }
  }
}
.show-aside{
  display: none;
}
.sidebar:hover .show-aside{
  display: block;
}
.sidebar .nav-aside{
  height: 100%;
  top: 0;
  li{
    border-bottom: 0;
    a{
      border-bottom: 0;
      padding: 5.3px 10px;
    }
  }
}

.slider_main{
  width: 80%;
  padding-left: 225px;
  float: left;
  padding-right: 10px;
}
@media (max-width: 991px){
  .sidebar{
    width: 100%;
    .title_sidebar{
      position: relative;
      padding: 8px 15px;
      font-size: 14px;
      &:before{
        content: "\f107";
        font: normal normal normal 14px/1 FontAwesome;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 8px;
      }
    }
    .show-aside{
      display: none;
      .menu-aside{
        .has-dropdown{
          position: relative;
          &:after{
            display: block;
          }
        }
      }
    }
  }
  .slider_main{
    width: 100%;
    padding: 0;
  }
  .sidebar .show-aside .menu-aside .has-dropdown>a:before{
    display: none !important;
  }
}


.banner_pr{
  width: 20%;
  display: none;
  float: left;
  margin-top: -35px;
  a{
    display: block;
    margin-bottom: 10px;
    img{
      width: 100%;
    }
  }
}

.tab-product{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
  li{
    margin-right: 40px;
    a{
      display: block;
      font-size: 15px;
      color: #0076c0;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid #fff;
      text-align: center;
      line-height: 18px;
    }
    &.active{
      a{
        color: #ee5915;
        border-bottom-color: #ed1c24;
      }
    }
  }
}
.pdd-5{
  padding: 0 5px;
}
.row-5{
  margin: 0 -5px;
}
.prod_hot{
  margin-bottom: 30px;
  .img_prod_hot{
    display: block;
    overflow: hidden;
    img{
      display: block;
      width: 100%;
    }
  }
  .prod_hot-name{
    font-size: 14px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 8px;
    text-align: center;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 30px;
    padding: 0 3px;
    a{
      color: #000;
    }
  }
  .price_prodhot{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 3px;
    b{
      font-size: 16px;
      color: #ff0000;
      float: left;
    }
    span{
      color: #0076c0;
      float: right;
    }
    del{
      font-size: 13px;
      color: #4d4d4d;
      float: left;
    }
    span.sale{
      font-size: 15px;
      color: #ff0000;
      font-weight: bold;
      float: right;
    }
  }
  &:hover{
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.44);
  }
}
.sc_product{
  margin-bottom: 35px;
}
.title_home{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #ee5915;
  text-transform: uppercase;
  font-family: Roboto_Medium;
  padding-bottom: 8px;
  border-bottom: 2px solid #0aa6e8;
  margin-bottom: 15px;
  align-items: flex-end;

  a{
    color: #444444;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
    .fa{
      margin-left: 5px;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
.product{
  border: 1px solid #ccc;
  margin-left: -1px;
  margin-bottom: -1px;
  .product__img{
    display: block;
    overflow: hidden;
    img{
      width: 100%;
      height: 184px;
      object-fit: contain;
      background: #fff;
    }
  }
  .product__name{
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 30px;
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    a{
      color: #333;
    }
  }
  .product__price{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    b{
      font-weight: normal;
      font-size: 13px;
      color: #ff0000;
    }
    span{
      font-size: 13px;
      color: #0076c0;
    }
    del{
      font-size: 12px;
      color: #4c4849;
    }
    .sale{
      font-size: 14px;
      color: #ff0000;
      font-weight: bold;
    }
  }

}
.title_news{
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 5px 5px 15px;
  background: #ee5915;
  img{
    margin-right: 7px;
  }
}
.content_news_home{
  padding: 13px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  height: 365px;
  overflow: hidden;
}
.semore_news{
  float: right;
  font-size: 14px;
  color: #333;
  font-family: Roboto_Light;
}


  .news_feature .img_news_feature {
    display: block;
    margin-bottom: 10px; }
    .news_feature .img_news_feature:hover {
      opacity: 0.8; }

.sub_news {
  overflow: hidden; }
  .sub_news h3.name_news {
    font-size: 14px;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 5px; }
    .sub_news h3.name_news a {
      color: #333333; }
      .sub_news h3.name_news a:hover {
        color: #067bce; }
  .sub_news .des_news {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box; }
    .date_news{
      color: #333333;
      font-size: 12px;
      .fa{
        margin-right: 3px;
        color: #4a9cd0;
      }
    }

.list_news li {
  padding: 14px 0; }
  .list_news li > a {
    display: block;
    float: left;
    width: 131px;
    margin-right: 5px; }
    .list_news li > a img {
      width: 100%; }
      .list_news li > a img:hover {
        opacity: 0.8; }

  .list_news li:first-child {
    padding-top: 0; }

@media (max-width: 480px) {
  .sc_feedback .box_feedback {
    padding: 30px;
    background: none; } }

    .content_feedback{
      padding: 15px 20px 35px 20px;
      background: #fdeee7;

    }
    .title_feedback{
      font-size: 18px;
      font-weight: bold;
      color: #ee5915;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .slider_feedback{
      .box_feedback{
        img{
          width: 12px !important;
          display: inline !important;
        }
        .feedback_txt{
          font-size: 12px;
          color: #333;
          line-height: 27px;
          height: 233px;
          overflow: auto;
        }
        .feedback_name{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          span{
            font-size: 12px;
            color: #a8a8a8;
            b{
              display: block;
              color: #ee5915;
            }
          }
          img{
            width: 62px !important;
            height: 62px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
      .owl-dots{
        bottom: -35px;
        right: -20px;
        background: url(../img/bgdot.png) no-repeat right center;
        height: 37px;
        width: 166px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .slider_feedback .owl-dots .owl-dot span{
      background: transparent;
      border-radius: 0;
      border: 1px solid #fff;
      margin:  0 4px;
    }
    .slider_feedback .owl-dots .owl-dot.active span, .slider_feedback .owl-dots .owl-dot:hover span{
      border-color: #ee5915;
      background: #ee5915;
    }



.icon_sv{
    float: left;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 60px;
    margin-right: 30px;
}
.txt_sv{
    color: #404040;
    font-size: 12px;
    text-align: justify;
    line-height: 18px;
    padding-right: 10px;
    display: block;
    overflow: hidden;
}
.qts_footer_top{
  margin-top: 70px;
    padding: 30px 0;
    border-bottom: 3px solid #f05922;
    margin-bottom: 15px;
}
.tit_ft-top{
  font-size: 13px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: bold;
}
.tit_ft{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: bold;
}
.menu_ft li a{
    font-size: 12px;
    color: #333333;
}
.menu_ft li a:hover{
    text-decoration: underline;
}
.menu_ft li{
    color: #333333;
    line-height: 28px;
    list-style-type: disc;
    list-style-position: inside;
}
.box_ft input{
    width: 100%;
    height: 28px;
    margin: 10px 0;
}
.box_ft button{
    border: none;
    background: #f05922;
    color: #FFFFFF;
    padding: 5px 0px;
    width: 110px;
    text-align: center;
}
.form_ft{
    padding-right: 15px;
}
.thongbao{
    float: right;
}
.ship img{
    max-width: 227px;
    width: 100%;
}
.box_ft{
    min-height: 210px;
}
.box_sv {
    min-height: 85px;
}
.add_ft{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    padding-right: 15px;
}
.add_ft i img{
    float: left;
    margin-right: 15px;
}
.txt_add{
    display: block;
    overflow: hidden;
    padding-bottom: 20px;


}
.txt_add ul li{
    list-style-type: disc;
    list-style-position: inside;
    color: #fff;
}
.hotline_ft{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #cccccc;
}
.hotline_ft span{
    color: #fff;
    font-size: 24px;
}

.list_link_hd>a {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    background: #4d67a3;
    color: #ffffff;
    font-size: 28px;
    float: left;
    overflow: hidden;
    margin: 0px 0px 0px 10px;
}
.list_link_hd>a.fa-youtube {
    background: #d41d1d;
}
.list_link_hd>a.fa-google-plus {
    background: #e02f2f;
}
.list_link_hd>a.fa-twitter {
    background: #598dca;
}
.list_link_hd>a.fa-pinterest {
    background: #cc2127;
}
.list_link_hd>a.fa-instagram {
    background: #527fa4;
}
.slogan_ft{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.slogan_ft span{
    color: red;
}
.contact_ft{
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
}
.menu_info_ft li a{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px;
    position: relative;
    display: inline-block;
}
.menu_info_ft li:not(:last-child) a:after{
    content: '|';
    position: absolute;
    display: inline-block;
    right: 0;
    top: 9px;
    color: #fff;

}
.menu_info_ft li:first-child a{
    padding-left: 0;
}
.menu_info_ft li{
    display: inline-block;
}
.chat{
    position: fixed;
    bottom: 0;
    right: 15%;
}
section.qts_footer_mid {
    padding: 10px 0;
}
.qts_footer_bot{
  background: #0076c0;
  padding-top: 15px;
}
.menu_fix{
  position: fixed;
  top: 50%;
  left: 15px;
  z-index: 999;
  transform: translateY(-50%);
  a{
    display: block;
    color: #fff;
    width: 33px;
    height: 33px;
    text-align: center;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: none;
      object-position: center;
      background: #fff;
    }
    .fa{
      background: #ee5915;
      width: 100%;
      height: 100%;
      font-size: 20px;
      line-height: 33px;
    }

  }
}
.slider_cate.slider_main{
  width: 100%;
  padding: 0;
}
.phantrang_prod {
    text-align: right;
}
.phantrang li {
    display: inline-block;
    padding-right: 0px;
}
.phantrang>li:first-child>a, .phantrang>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.phantrang>li:last-child>a, .phantrang>li:last-child>span {
    margin-left: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.phantrang>.active>a, .phantrang>.active>span, .phantrang>.active>a:hover, .phantrang>.active>span:hover, .phantrang>.active>a:focus, .phantrang>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #fb3f40;
    border-color: #fb3f40;
}
.phantrang>li>a, .phantrang>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
}
.phantrang>li>a:hover, .phantrang>li>span:hover, .phantrang>li>a:focus, .phantrang>li>span:focus {
    color: #fff;
    background-color: #fb3f40;
    border-color: #fb3f40;
}
.phantrang{
    margin: 0;
}
.back_link ul li a{
  color: #024d91;
}
.back_link ul li a .fa{
  margin-right: 5px;
}
.title_list{
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #ed1b24;
}
.form_action{
  button{
    .fa{
      margin-right: 5px;
    }
  }
  input.form-control{
    margin-bottom: 30px;
  }
}
.table-post{
  img{
    width: 15px;
    margin: auto;
    display: block;
  }
  .img_post{
    width: 65px;
    display: block;
    margin: auto;
  }
  tr{
    td{
      vertical-align: middle !important;
    }
  }
}
.title_left{
  font-size: 14px;
  font-weight: bold;
  padding: 13px 5px 13px 12px;
  color: #fff;
  text-transform: uppercase;
  background: #ca181f;
  .fa{
    margin-right: 10px;
  }
}
.menu_cate{
  li{
    a{
      display: block;
      padding: 7px 5px 7px 35px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      color: #333;
      background-image: url(../img/plus.png);
      background-repeat: no-repeat;
      background-position: left 10px center;
      &:hover{
        color: #ca181f;
      }
    }
  }
}
.pdd-8{
  padding: 0 8px;
}
.row-8{
  margin: 0 -8px;
}
.form-group span{
  color: #686868;
  font-size: 12px;
  display: block;
}
.tab_des{
  margin-bottom: 10px;
  li{
    a{
      color: #0e70c9;
    }
  }
}
.back_link{
  li.active{
    color: red;
  }
}

/*==================================================Slider detail=================================================================*/
.gc-icon.gc-icon-download{
    display: none !important;
}
.gc-thumbs-area-next .gc-icon.gc-icon-next:before{
    content: "\f105" !important;
    font: normal normal normal 24px/1 fontawesome !important;
    width: 24px;
    height: 24px;
    text-align: center;
}
.gc-thumbs-area-prev .gc-icon.gc-icon-prev:before{
    content: "\f104" !important;
    font: normal normal normal 24px/1 fontawesome !important;
    width: 24px;
    height: 24px;
    text-align: center;
}
.gc-display-area .gc-icon.gc-icon-next{
    width: 36px !important;
    height: 50px !important;
    right: 10px;
}
.gc-display-area .gc-icon.gc-icon-next:before{
    content: "\f105" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px;
    color: #fff;
    height: 50px;
    text-align: center;
}
.gc-display-area .gc-icon.gc-icon-prev{
    width: 36px !important;
    height: 50px !important;
    left: 10px;
}
.gc-display-area .gc-icon.gc-icon-prev:before{
    content: "\f104" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px;
    color: #fff;
    height: 50px;
    text-align: center;
}
.gc-overlay-right-icons .gc-icon.gc-icon-next{
    width: 36px !important;
    height: 50px !important;
    text-align: center;
}
.gc-overlay-right-icons .gc-icon.gc-icon-next:before{
    content: "\f105" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px !important;
    height: 50px !important;
    color: #fff;
}
.gc-overlay-left-icons .gc-icon.gc-icon-prev{
    width: 36px !important;
    height: 50px !important;
    text-align: center;
}
.gc-overlay-left-icons .gc-icon.gc-icon-prev:before{
    content: "\f104" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px !important;
    height: 50px !important;
    color: #fff;
}
.gc-icon.gc-icon-enlarge{
    display: none !important;
}
.gc-overlay-top-icons .gc-icon.gc-icon-close:before{
    content: "\f00d" !important;
    font: normal normal normal 25px/1 fontawesome !important;
    color: #fff;
    width: 24px;
    text-align: center;
}
.glass-case{
    margin: auto;
}

/*===================================================end slider detail======================================================*/
.number_counter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.name_prod_detail{
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
.des_prod_detail{
  font-size: 14px;
  color: #024d91;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}
.price_new{
  font-size: 30px;
  color: #e60101;
  font-weight: bold;
}
.price_old{
  font-size: 18px;
  color: #024d91;
  margin-bottom: 30px;
}
.number_counter{
  > span{
    margin-right: 10px;
  }
  .number-spinner{
    width: 110px;
    button{
      background: #f6f6f6;
      border: 0;
      border-radius: 0;
      outline: 0;
      transition: all 0;
      &:active{
        background: #e2e4ed;
        outline: 0
      }
    }
    input{
      border: 0;
      box-shadow: none
    }
  }
}
.form_oder button{
  background: transparent;
  border: 0;
  outline: 0;
}
.tab-detail{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-left: 0;
  li{
    a{
      display: block;
      padding: 5px 15px;
      font-size: 13px;
      text-transform: uppercase;
      border-left: 1px solid #ccc;
      margin-bottom: -1px;
      span{
        color: red;
      }
    }
    &.active{
      a{
        background: #fff;
      }
    }
  }
}
.tab-content-detail{
  padding: 25px 10px;
  border: 1px solid #ccc;
  border-top: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  img{
    max-width: 100%;
    display: block;
    margin: 30px auto;
  }
}
.title_right{
  font-size: 13px;
  color: red;
  text-align: center;
  text-transform: uppercase;
  background: #f7f7f7;
  padding: 7px 3px;
  border-top: 2px solid red;
}
.menu_prod{
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
}
.produc_right{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  a{
    display: block;
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
  .price_right{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    padding: 0 15px;
  }
  .name__prod--right{
    font-size: 13px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
  }
}
.list_prod_right{
  border: 1px solid #ccc;
  border-top: 0;
  .more_prod{
    font-size: 13px;
    text-align: center;
    display: block;
    padding: 3px 0;
    color: #333;
    &:hover{
      text-decoration: underline;
    }
  }
}
@media(max-width:991px){
  .table.table-post{
    display: block;
    thead{
      display: none;
      tr{
        display: block;
      }
    }
    tbody{
      display: block;
      tr{
        display: block;
        td{
          display: block;
          position: relative;
          padding-left: 120px;
          &:before{
            content: attr(data-title);
            position: absolute;
            left: 0;
            top: 0;
            font-weight: bold;
            text-align: center;
            width: 110px;
            height: 100%;
            border-right: 1px solid #ccc;
          }
        }
        &:nth-child(even){
          background: #e9e9e9;
        }
      }
    }
  }
}
