<template>
  <div id="app">
    <demoslot>
      <p> Lập trình VueJs - 30 Tìm hiểu Slot và bài tập ứng dụng</p>
    </demoslot>
    <tab/>
    <compheader v-bind:title="title" v-on:btnEventChange="changeTxtEvent"></compheader>
    <listUser v-bind:listUser="listUser" v-on:delUserApp="eventDelUserApp"></listUser>
    <compfooter v-bind:title="title"></compfooter>

  </div>
</template>

<script>
  import compheader from './component/ComponentHeader.vue';
  import compfooter from './component/ComponentFooter.vue';
  import listUser from './component/listUser.vue';
  import demoslot from './component/demo-slot';
  import tab from './component/tab.vue';
export default {
  name: 'app',
  data () {
    return {
      title: 'App',
      listUser:[
        {id:20,email: 'name1@gmail.com',active: true},
        {id:21,email: 'name2@gmail.com',active: true},
        {id:33,email: 'name3@gmail.com',active: false},
        {id:40,email: 'name4@gmail.com',active: true},
        {id:50,email: 'name5@gmail.com',active: false},
      ]
    }
  },
  components:{
    compheader,
    compfooter,
    listUser,
    demoslot,
    tab,
  },
  methods:{
    changeTxtEvent(datta){
      this.title= datta.title;
      console.log('hàm tự tạo',datta)
    },
    eventDelUserApp(data){
      this.listUser.forEach((ul,index) => {
        console.log(ul.id,index, data.id);
        if (ul.id === data.id){
          this.listUser.splice(index,1)
        }
      });
      console.log('del at app',data);

    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
