
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pao Group</title>


    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/owl.carousel.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
    <link href="css/setmedia.css" rel="stylesheet"/>

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

</head>
<body>

<div id="app">
    <!-- header content-->
    <header class="header">
        <div class="menu_mb visible-xs visible-sm clearfix">
            <button class="nav-toggle">
                <div class="icon-menu">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </button>
            <div class="text-center">
                <a href=""><img class="img_logo_mb" src="img/logo.png" alt=""/></a>
            </div>
            <div class="header__main__toggle_cart">
                <span class="counter">0</span>
            </div>
        </div><!-- /menu_mb -->
        <div class="clearfix clearfix-60 visible-sm visible-xs"></div>
        <div class="header_mid">
            <div class="container">
                <div class="row_pc">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="header_bot">
                                <form class="search_box">
                                    <div class="input-group">
                                        <select name="" id="" class="btn-select">
                                            <option value="">Dữ liệu 1</option>
                                            <option value="">Dữ liệu 2</option>
                                            <option value="">Dữ liệu 3</option>
                                            <option value="">Dữ liệu 4</option>
                                        </select>
                                        <input type="text" class="form-control input_search" name="key" placeholder="Tìm sản phẩm,thương hiệu bạn mong muốn">
                                        <button class="btn btn-default but_search_top" type="submit">Tìm Kiếm</button>
                                    </div>
                                </form><!--/search theo danh mục-->
                                <div class="header_account">
                                    <div class="header_account_tit">
                                        <a href="">Đăng nhập</a>/
                                        <a href="">Đăng ký</a>
                                    </div>
                                    <a href="" class="header_account_txt">Tài khoản và đơn hàng</a>
                                </div>
                                <div class="info_cart text-center">
                                    <a href="" class="lbl">Giỏ hàng</a>
                                    <a href="" class="total-price ft-12"><span class="woocommerce-Price-amount amount">{{cartNumber}} sản phẩm</span></a>
                                </div>
                                <div class="header__main__toggle_cart hidden-sm hidden -xs">
                                    <span class="counter">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_menu">
            <div class="container">
                <div class="row_pc">
                    <!-- menu dọc -->
                    <div class="sidebar">
                        <h2 class="title_sidebar"><img src="img/bars.png" alt="">Danh mục</h2>
                        <div class="show-aside">
                            <ul class="menu-aside">
                                <li class="has-dropdown">
                                    <a href=""><img src="img/ic1.png" alt="">Nước giặt</a>
                                    <ul class="nav-dropdown nav-aside">
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href=""><img src="img/ic2.png" alt="">Nước lau sàn</a>
                                    <ul class="nav-dropdown nav-aside">
                                        <li><a href="">Chăm sóc sức khỏe</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                        <li><a href="">Nước lau sàn</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><img src="img/ic3.png" alt="">Chăm sóc sức khỏe</a></li>
                                <li><a href=""><img src="img/ic4.png" alt="">Chăm sóc sắc đẹp</a></li>
                                <li><a href=""><img src="img/ic5.png" alt="">Thời trang</a></li>
                                <li><a href=""><img src="img/ic6.png" alt="">Ngoài trời & đi lại</a></li>
                                <li><a href=""><img src="img/ic7.png" alt="">Thực phẩm</a></li>
                                <li><a href=""><img src="img/ic8.png" alt="">Văn phòng phẩm</a></li>
                                <li><a href=""><img src="img/ic9.png" alt="">Hóa phẩm</a></li>
                                <li><a href=""><img src="img/ic10.png" alt="">Khuyến mại HOT</a></li>
                            </ul>
                        </div>
                    </div><!-- /menu dọc -->
                    <!-- menu main -->
                    <div class="menu_main">
                        <nav class="nav is-fixed">
                            <div class="nav-container">
                                <ul class="nav-menu menu clearfix">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">Khuyến mại trong tháng</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">khuyến mại lớn </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link ">cẩm nang</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">giới thiệu</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div><!-- menu main -->

                </div>
            </div>
        </div>


    </header><!-- /.header content -->
    <div class="clearfix-20"></div>
    <!-- main content -->
    <main>
        <div class="container">
            <div class="row_pc">
                <div class="row row-8">
                    <div class="col-md-12 col-xs-12 pdd-8">
                        <div class="row row-5">
                            <div class="col-sm-5 col-xs-12 pdd-5">
                                <img v-bind:src="getProduct.image" class="w_100" alt="">
                            </div>
                            <div class="col-sm-6 col-xs-12 pdd-5">
                                <div class="back_link">
                                    <ul class="breadcrumb">
                                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                                        <li class="active">Đăng sản phẩm</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <h1 class="name_prod_detail"><a href="" v-bind:href="url" v-bind:target="blank">{{title}}</a></h1>
                                <div class="des_prod_detail">Thương hiệu: PAOXem thêm Giặt giũ & Chăm sóc nhà cửa của PAO</div>
                                <div v-if="getProduct.quantity > 0">Còn {{getProduct.quantity}} sản phẩm</div>
                                <div v-if="getProduct.quantity <= 0">Hết hàng</div>
                                <div class="price_new">{{priceOld}}</div>
                                <div class="price_old">{{priceNew}}  - {{sale*100}}%</div>
                                <div>Màu sắc: {{getProduct.txtColor}}</div>
                                <ul class="color-list">
                                    <li v-for="(item,index) in listColor"
                                        v-bind:class="classActive(index)"
                                        v-bind:key="index"
                                        v-on:click="selectColor(index)">
                                        <img v-bind:src="item.image" class="w_100" v-bind:alt="item.txtColor">
                                    </li>
                                </ul>
                                <div class="clearfix-20"></div>
                                <div class="form_oder">
                                    <button type="button" v-on:click="addCart" name="button"><img src="img/gh.png" alt=""></button>
                                </div>

                            </div>
                            <div class="clearfix-30"></div>
                            <ul class="tab-detail">
                                <li class="active"><a data-toggle="tab" href="#detail">Chi tiết sản phẩm</a></li>
                                <li><a data-toggle="tab" href="#detail1">Đánh giá sản phẩm <span>(0)</span></a></li>
                                <li><a data-toggle="tab" href="#detail2">Hỏi đáp <span>(0)</span></a></li>
                            </ul>
                            <div class="tab-content tab-content-detail">
                                <div id="detail" class="tab-pane fade in active">
                                    Bột giặt PAO 5kg - Thái Lan có thể thể giặt tay hoặc giặt máy <br>
                                    - Bột giặt Pao là sản phẩm rất đáng tự hào của tập đoàn Lion, được sản xuất theo công nghệ của Lion Nhật Bản, được đảm bảo với quy trình sản xuất khép kính, đúng tiêu chuẩn kĩ thuật.
                                    - Từ lâu PAO là loại bột giặt hết sức nổi tiếng tại Thái Lan, và ngày nay, PAO gần như được biết đến rộng rãi tại thị trường Việt Nam với các tính năng vượt trội từ hương thơm quyến rủ cho đến độ sạch quần áo.
                                    - Với công thức vượt trội của PAO, có chứa Deozyme, tiêu hóa protein của các vết bẩn và tế bào vi khuẩn mắc trên quần áo, giúp loại bỏ mùi hôi gây ẩm ướt ngay khi treo áo quần trong nhà. Công nghệ tiên tiến của PAO, làm mềm sợi vải, dễ dàng trong việc là ủi và mềm mại với da tay.
                                    * Hướng dẫn sử dụng sản phẩm:<br>
                                    Giặt tay:<br>
                                    - Xả quần áo với nước sạch.<br>
                                    - Hòa tan 1 muỗng Winso trong 3-4 lít nước.<br>
                                    - Ngâm quần áo trong 30 phút.<br>
                                    - Giũ và xả 2-3 lần bằng nước sạch.<br>
                                    <img src="img/img7.png" alt="">
                                    Giặt máy: <br>
                                    Hãy sử dụng lượng xà phòng được ghi rõ trên bao bì , bạn sẽ thấy rất ít hao xà phòng mà đồ thì sạch sẽ thơm ngát.<br>
                                    * Chú ý:<br>
                                    - Giặt riêng quần áo có thể bị lem màu.<br>
                                    - Đối với vết bẩn khó giặt, xử lý càng sớm càng tốt. Có thể dùng nhiều bột giặt hơn bình thường.<br>
                                    - Rửa sạch và lau khô tay sau khi dùng.<br>
                                    - Bảo quản nơi khô mát.<br>
                                    - Để xa tầm tay trẻ em.<br>
                                </div>
                                <div id="detail1" class="tab-pane fade">
                                    Hãy sử dụng lượng xà phòng được ghi rõ trên bao bì , bạn sẽ thấy rất ít hao xà phòng mà đồ thì sạch sẽ thơm ngát.<br>
                                    * Chú ý:<br>
                                    - Giặt riêng quần áo có thể bị lem màu.<br>
                                    - Đối với vết bẩn khó giặt, xử lý càng sớm càng tốt. Có thể dùng nhiều bột giặt hơn bình thường.<br>
                                    - Rửa sạch và lau khô tay sau khi dùng.<br>
                                    - Bảo quản nơi khô mát.<br>
                                    - Để xa tầm tay trẻ em.<br>
                                </div>
                                <div id="detail2" class="tab-pane fade">
                                    Hãy sử dụng lượng xà phòng được ghi rõ trên bao bì , bạn sẽ thấy rất ít hao xà phòng mà đồ thì sạch sẽ thơm ngát.<br>
                                    * Chú ý:<br>
                                    - Giặt riêng quần áo có thể bị lem màu.<br>
                                    - Đối với vết bẩn khó giặt, xử lý càng sớm càng tốt. Có thể dùng nhiều bột giặt hơn bình thường.<br>
                                    - Rửa sạch và lau khô tay sau khi dùng.<br>
                                    - Bảo quản nơi khô mát.<br>
                                    - Để xa tầm tay trẻ em.<br>
                                </div>
                            </div>
                            <div class="clearfix-30"></div>
                            <div class="plugin_cmt">
                                <img src="img/cmt.png" class="w_100" alt="">
                            </div>
                            <div class="clearfix-30"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

<script>

</script>

<!-- footer -->
<footer id="footer">
    <section class="qts_footer_top clearfix">
        <div class="container">
            <div class="row_pc">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-480-12">

                            <div class="box_sv">
                                <div class="icon_sv">
                                    <img src="img/ift1.png" alt="">
                                </div>
                                <div class="txt_sv">
                                    Giao hàng và thanh toán tại nhà trên toàn quốc, áp dụng cho cả các huyện, xã , thôn
                                </div>
                            </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 col-480-12">

                        <div class="box_sv">
                            <div class="icon_sv">
                                <img src="img/ift2.png" alt="">
                            </div>
                            <div class="txt_sv">
                                Miễn phí giao hàng với đơn hàng trên 200.000 đối với khu vực Hà Nội. Hỗ trợ 50% phí giao hàng đối với đơn đi các tỉnh
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 col-480-12">

                        <div class="box_sv">
                            <div class="icon_sv">
                                <img src="img/ift3.png" alt="">
                            </div>
                            <div class="txt_sv">
                                Đổi mới trong vòng 7 ngày, trả hàng trong vòng 15 ngày với sản phẩm đáp ứng yêu cầu về đổi trả
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 col-480-12">

                        <div class="box_sv">
                            <div class="icon_sv">
                                <img src="img/ift4.png" alt="">
                            </div>
                            <div class="txt_sv">
                                Kiếm tiền cùng bigmua, hãy tham gia và trở thành cộng tác viên bán hàng tại eshopping để gia tăng thêm thu nhập
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="qts_footer_mid">
        <div class="container">
            <div class="row_pc clearfix row-flex">
              <div class="row">
                <div class="col-md-3 col-xs-6 col-480-12">

                        <div class="box_ft">
                            <h4 class="tit_ft-top">thông tin công ty</h4>
                            <ul class="menu_ft">
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                            </ul>
                        </div>

                </div>
                <div class="col-md-3 col-xs-6 col-480-12">

                        <div class="box_ft">
                            <h4 class="tit_ft-top">Chăm sóc khách hàng</h4>
                            <ul class="menu_ft">
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                                <li><a href="">Giới thiệu công ty</a></li>
                            </ul>
                        </div>

                </div>
                <div class="col-md-3 col-xs-6 col-480-12">

                        <div class="box_ft">
                            <h4 class="tit_ft-top">đăng ký nhận khuyến mại</h4>
                            <p>Đăng ký nhận tin khuyến mại &amp; quà tặng từ Yoko Shop</p>
                            <form action="">
                                <input type="text">
                                <button type="submit">Nam</button>
                                <button type="submit">Nữ</button>
                            </form>
                            <div class="clearfix clearfix-10"></div>
                            <p>Chúng tôi cam kết bảo mật tuyệt đối thông tin của quý khách,
                                và quý khách có thể hủy đăng ký bất kỳ lúc nào .
                                Bằng việc đăng ký nhận khuyến mãi từ Eshopping,
                                bạn đã đọc và hiểu chính sách bảo mật của chúng tôi</p>
                        </div>

                </div>
                <div class="col-md-3 col-xs-6 col-480-12">

                        <div class="box_ft thongbao">
                            <h4 class="tit_ft-top">được chứng nhận</h4>
                            <img src="img/dangky.png" alt="">
                            <div class="clearfix clearfix-10"></div>
                            <span style="font-weight: bold">Chứng nhận sàn giao dịch TMĐT</span>
                            <div class="clearfix clearfix-10"></div>
                            <span style="color: #646464">Dịch vụ giao hàng</span>
                            <div class="clearfix clearfix-10"></div>
                            <div class="ship">
                                <img src="img/ship.png" alt="">
                            </div>
                        </div>

                </div>
              </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>
    <section class="qts_footer_bot">
        <div class="container">
            <div class="row_pc">
                <div class="row">
                  <div class="col-md-6 col-xs-6 col-480-12">

                          <div class="add_ft">
                              <h4 class="tit_ft">HỆ THỐNG CỬA HÀNG</h4>
                              <div class="row row-5">
                                <div class="col-md-6 col-xs-12 pdd-5">
                                  <i><img src="img/icon_map.png" alt=""></i>
                                  <div class="txt_add">
                                      <p>Hà Nội (8h00 - 18h00)</p>
                                      <div class="clearfix clearfix-10"></div>
                                      <ul>
                                          <li>Số 58 Phố Duy Tân – Dịch Vọng Hậu – Cầu Giấy - HN</li>
                                      </ul>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12 pdd-5">
                                  <i><img src="img/icon_map.png" alt=""></i>
                                  <div class="txt_add">
                                      <p>Hà Nội (8h00 - 18h00)</p>
                                      <div class="clearfix clearfix-10"></div>
                                      <ul>
                                          <li>Số 58 Phố Duy Tân – Dịch Vọng Hậu – Cầu Giấy - HN</li>
                                      </ul>
                                  </div>
                                </div>
                              </div>

                              <div class="clearfix clearfix-10"></div>
                              <div class="hotline_ft">
                                  Hotline <span>1900.9424</span>
                              </div>
                          </div>

                  </div>
                  <div class="col-md-6 col-xs-6 col-480-12">

                          <div class="map">
                              <h4 class="tit_ft">Bản đồ</h4>
                              <img class="w_100" src="img/map.png" alt="">
                          </div>

                  </div>
                </div>
                <div class="clearfix clearfix-20"></div>
                <div class="contact_ft clearfix">
                      <div class="slogan_ft pull-left">
                          TẬP ĐOÀN PAOGROUP <br>
                        GIẤY CHỨNG NHẬN ĐĂNG KÝ KINH DOANH SỐ 0104897761 DO SỞ KẾ HOẠCH VÀ ĐẦU TƯ THÀNH PHỐ HÀ NỘI CẤP NGÀY 10/09/2010
                      </div>
                      <div class="list_link_hd pull-right">
                          <a href="" class="fa fa-facebook"></a>
                          <a href="" class="fa fa-youtube"></a>
                          <a href="" class="fa fa-google-plus"></a>
                          <a href="" class="fa fa-twitter"></a>
                          <a href="" class="fa fa-pinterest"></a>
                          <a href="" class="fa fa-instagram"></a>
                      </div>
                </div>
                <div class="clearfix"></div>
                <ul class="menu_info_ft">
                   <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Liên hệ </a></li>
                </ul>
            </div>
        </div>

    </section>

    <style>
        .color-list li{
            display: inline-block;
            width: 50px;
            margin-right: 10px;
            cursor: pointer;
            border: 1px solid #dddddd;
        }
        .color-list li.active{
            outline: 1px solid #4cae4c;
        }
    </style>
</footer><!-- footer -->
<script type="text/javascript" src="js/detail.js"></script>
</body>
</html>
